<article *ngIf="current_bike | async; let current_bike; else loading" class="search-result row">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a title="Lorem ipsum" class="thumbnail">
      <img src="{{current_bike.image_url}}" alt="Lorem ipsum" />
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
    <h3><a title="">{{current_bike.name}} details!</a></h3>
    <p>{{current_bike.description}}</p>
    <div><label>id: </label>{{current_bike.id}}</div>
    <div><label>reference: </label>{{current_bike.reference}}</div>
  </div>
  <span class="clearfix borda"></span>
</article>

<ng-template #loading>Loading User Data...</ng-template>
