<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contacto</h2>
        <h3 class="section-subheading text-muted">Cuentanos si estas interesado.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" name="sentMessage" id="contactForm" novalidate #contactForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="contact.fullname" name="fullname" class="form-control" placeholder="Nombre *" id="name" required #fullname="ngModel">
                  <div  class="help-block text-danger" [hidden]="fullname.valid || fullname.pristine">
                    <div *ngIf="fullname.errors && fullname.errors.required">
                    Por favor ingresa tu nombre.
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <input type="email" [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email *" id="email" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  <div  class="help-block text-danger" [hidden]="email.valid || email.pristine">
                    <div *ngIf="email.errors && email.errors.required">
                    Por favor ingresa tu correo electrónico.
                    </div>
                    <div *ngIf="email.errors && email.errors.pattern">
                      Por favor ingresa un correo electrónico valido.
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <input type="number" [(ngModel)]="contact.age" name="age" class="form-control" placeholder="Edad" id="age" min="18" max="70" required data-validation-required-message="Por favor ingresa tu edad." #age="ngModel">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="contact.residence_city" name="residence_city" class="form-control" placeholder="Ciudad de residencia *" id="residence_city" required data-validation-required-message="Por favor ingresa tu ciudad de residencia." #residence_city="ngModel">
                  <div  class="help-block text-danger" [hidden]="residence_city.valid || residence_city.pristine">
                    <div *ngIf="residence_city.errors && residence_city.errors.required">
                      Por favor ingresa tu ciudad de residencia.
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="contact.city_to_visit" name="city_to_visit" class="form-control" placeholder="Ciudad de posible  visita *" id="city_to_visit" required data-validation-required-message="Por favor ingresa las ciudades que posiblemente visites." #city_to_visit="ngModel">
                  <div  class="help-block text-danger" [hidden]="city_to_visit.valid || city_to_visit.pristine">
                    <div *ngIf="city_to_visit.errors && city_to_visit.errors.required">
                      Por favor ingresa las ciudades que posiblemente visites.
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea [(ngModel)]="contact.message" name="message" class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message." #message="ngModel"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl" [disabled]="!contactForm.form.valid">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
