<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" routerLink="/home" href="#page-top" pageScroll [pageScrollDuration]="500">
        <img src="../../assets/img/cobaik.png" alt="Wesura">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a pageScroll routerLink="/home" href="#about" [pageScrollDuration]="700">¿Qué es Cobaik?</a>
        </li>
        <li>
            <a pageScroll routerLink="/home" href="#services" [pageScrollDuration]="700">¿Cómo funciona?</a>
        </li>
        <li>
          <a pageScroll routerLink="/home" href="#contact" [pageScrollDuration]="700">Contacto</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
