<header>
  <div class="header-content" id="page-top">
    <div class="header-content-inner">
      <h1 id="homeHeading">En bici a donde vayas</h1>
      <hr>
      <p>Conviértete en un Cobaiker, solicita una bici, disfruta el camino y repite tu experiencia!</p>
      <div class="row">
          <div class="col-md-12">
              <form (ngSubmit)="onSubmit()" name="search">
                  <input [(ngModel)]="searchRide.city"  name="cityRide" type="text" value="" placeholder="Ingresa la ciudad donde quieres tú bici" style="color: black"  />
                  <input type="date" [(ngModel)]="searchRide.startDate" class="form-control" value={{searchRide.startDate}} name="startDate">
                  <div class="input-group-addon">to</div>
                  <input type="date" [(ngModel)]="searchRide.endDate" class="form-control" value={{searchRide.endDate}} name="endDate">
                  <!-- <ng-datepicker [options]="options"  [(ngModel)]="searchRide.startDate" name="startDate" style="color:black"></ng-datepicker>
                       <div class="input-group-addon">to</div>
                       <ng-datepicker [options]="options" [(ngModel)]="date2" name="endDate"  style="color:black"></ng-datepicker> -->
                  
                  <button type="submit" class="btn btn-primary btn-xl page-scroll"> Buscar</button>
              </form>
          </div>
      </div>

      <a href="#about" class="btn btn-primary btn-xl page-scroll">Más información</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">¿Qué es Cobaik?</h2>
        <hr class="light">
        <p class="text-faded">Somos una comunidad de amantes de la bicicleta. Buscamos compartir experiencias, hacer contactos entre integrantes de la comunidad y compartir nuestras bicicletas en la ciudad donde al menos haya otro cobaiker para hacer de nuestros viajes una experiencia inolvidable, colaborativa y sostenible!</p>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">¿Cómo funciona?</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users" aria-hidden="true"></i>
          <h3>Unete a nuestra comunidad</h3>
          <p class="text-muted">Somos una comunidad de ciclistas urbanos que queremos conocernos, compartir experiencias, recomendaciones para conocer ciudades en bicicleta y nuestras bicicletas.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-search" aria-hidden="true"></i>
          <h3>Encuentra tu bici</h3>
          <p class="text-muted">Encuentra Cobaikers en la ciudad donde estés, concreta el lugar de encuentro y usa su bicicleta por poco dinero.!</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-bicycle" aria-hidden="true"></i>
          <h3>Disfruta tu recorrido</h3>
          <p class="text-muted">Conoce nuevos Cobaikers, ahorra dinero, comparte experiencias y disfruta de nuevas ciudades de una manera diferente…</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact></app-contact>
